<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  
   <!-- HTML Meta Tags -->
<meta name="description" content="Window's projects page">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Window projects">
<meta itemprop="description" content="Window's project page">
<meta itemprop="image" content="https://cdn.discordapp.com/attachments/892084084812173403/892473483651592202/Capture.PNG">

<!-- Meta Tags by Sazz#5483 -->
</head>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <%- include ('./partials/navbar') -%>
    
    <main>
      <h1><p style="color: lightblue;"><%= page %></p></h1>
      <br>
      <h2><p style="color: lightblue;">Currently no content on this page. Check back later.</p></h2>
    
        <div class="top-projects">
          
          <!--<div class="project">
                <a href="https://usure.one" target="_blank" rel="noindex nofollow"></a>
                <div class="project-img" style="background-image: url(&quot;URL&quot;); transform: scale(1); opacity: 1;"></div>
                <div class="project-text">SOON</div>
            </div>
        -->
    
        </div>
    
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.6.0/dist/alpine.min.js"></script> -->
        <script src="/js/scripts.js"></script>
    
    </main>
    <br><br>
    <%- include ('./partials/footer') -%>
  </body>
</html>
