<!DOCTYPE html>
<head>
  
</head>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <%- include ('./partials/navbar') -%>
    
    <main>
      <h1><p style="color: lightblue;"><%= page %></p></h1>
      <br>
      <h2><p style="color: lightblue;">Currently no content on this page. Check back later.</p></h2>
    </main>
    <%- include ('./partials/footer') -%>
  </body>
</html>
